<div data-ng-if="!initializing">
  <div class="head">
    <div class="head__third-floor">
      <div class="title inline">Genes abundance</div>
      <custom-select
        class="inline"
        data-key="resistanceFilter.key"
        data-dataset="resistanceFilter.dataset"
        data-multi="resistanceFilter.multi"
        data-toggle-format="resistanceFilter.toggleFormat"
        data-disabled="resistanceFilter.disabled"
        data-selected="rscFilterValues.resistance">
      </custom-select>
      <custom-select
        data-ng-repeat="filter in substanceFilters track by filter.key"
        data-ng-if="filter.key === rscFilterValues.resistance.value"
        class="inline"
        data-key="filter.key"
        data-dataset="filter.dataset"
        data-multi="filter.multi"
        data-toggle-format="filter.toggleFormat"
        data-disabled="filter.disabled"
        data-selected="rscFilterValues.substance">
      </custom-select>
      <br class="clear-both" />
    </div>
    <div class="head__second-floor">
      <div class="title inline">metagenomes</div>
      <custom-select
        data-ng-repeat="filter in sampleFilters track by filter.key"
        class="inline"
        data-key="filter.key"
        data-dataset="filter.dataset"
        data-multi="filter.multi"
        data-toggle-format="filter.toggleFormat"
        data-disabled="filter.key === rscFilterValues.cohort.value"
        data-selected="sampleFilterValues[filter.key]">
      </custom-select>
      <filters-reset
        data-sample-filters="sampleFilters"
        data-sample-filter-values="sampleFilterValues">
      </filters-reset>
      <br class="clear-both" />
    </div>
    <div class="head__first-floor">
      <div class="left-section inline">
        <div class="title inline">Cohorts by</div>
        <custom-select
          class="inline"
          data-key="cohortFilter.key"
          data-dataset="cohortFilter.dataset"
          data-multi="cohortFilter.multi"
          data-toggle-format="cohortFilter.toggleFormat"
          data-disabled="cohortFilter.disabled"
          data-selected="rscFilterValues.cohort">
        </custom-select>
        <br class="clear-both" />
      </div>
      <div class="right-section inline">
        <div class="title">
          <dot-graph-title data-rsc-filter-values="rscFilterValues"></dot-graph-title>
        </div>
      </div>
      <br class="clear-both" />
    </div>
  </div>
  <div class="content">
    <div class="content__bar-chart inline">
      <bar-chart
        data-data="data"
        data-substance-filters="substanceFilters"
        data-sample-filters="sampleFilters"
        data-rsc-filter-values="rscFilterValues"
        data-sample-filter-values="sampleFilterValues"
        data-bar-chart="barChart"
        data-dot-chart="dotChart"
        data-quantity-checkbox="quantityCheckbox"
        data-color-scale="colorScale">
      </bar-chart>
    </div>
    <div class="content__dot-chart inline">
      <dot-chart
        data-data="data"
        data-substance-filters="substanceFilters"
        data-sample-filters="sampleFilters"
        data-rsc-filter-values="rscFilterValues"
        data-sample-filter-values="sampleFilterValues"
        data-bar-chart="barChart"
        data-dot-chart="dotChart"
        data-color-scale="colorScale">
      </dot-chart>
    </div>
    <div class="content__info-block inline">
      <info-block
        data-data="data"
        data-substance-filters="substanceFilters"
        data-rsc-filter-values="rscFilterValues"
        data-bar-chart="barChart"
        data-dot-chart="dotChart"
        data-color-scale="colorScale">
      </info-block>
    </div>
    <br class="clear-both" />
    <quantity-checkbox data-quantity-checkbox="quantityCheckbox"></quantity-checkbox>
  </div>
  <div class="datalab-footer">
    <div class="typical-info">Visualization by <a class="common-link" href="http://www.datalaboratory.pro/" target="_blank"><span class="datalab-footer__dl-caption">Data Laboratory</span></a></div>
    <div class="additional-info">Data from {{studies}}</div>
  </div>
</div>
