<div data-ng-if="isDataPrepared">
  <div class="head">
    <div class="head__third-floor">
      <div class="head__title inline">Genes abundance</div>
      <custom-select
        data-ng-repeat="filter in filters track by filter.key"
        data-ng-if="filter.floor === 3"
        class="inline"
        data-ng-class="[filter.key, {'disabled': filter.disabled}]"
        data-key="filter.key"
        data-dataset="filter.dataset"
        data-multi="filter.multi"
        data-toggle-format="filter.toggleFormat"
        data-disabled="filter.disabled"
        data-filter-values="filterValues">
      </custom-select>
      <filters-reset
        data-filters="filters"
        data-filter-values="filterValues">
      </filters-reset>
      <br class="clear-both" />
    </div>
    <div class="head__second-floor">
      <div class="head__title inline">metagenomes</div>
      <custom-select
        data-ng-repeat="filter in filters track by filter.key"
        data-ng-if="filter.floor === 2"
        class="inline"
        data-ng-class="[filter.key, {'disabled': filter.disabled}]"
        data-key="filter.key"
        data-dataset="filter.dataset"
        data-multi="filter.multi"
        data-toggle-format="filter.toggleFormat"
        data-disabled="filter.disabled"
        data-filter-values="filterValues">
      </custom-select>
      <more-filters class="disabled inline"></more-filters>
      <br class="clear-both" />
    </div>
    <div class="head__first-floor">
      <div class="head__left-section inline">
        <div class="head__title inline">Cohorts</div>
        <custom-select
          data-ng-repeat="filter in filters track by filter.key"
          data-ng-if="filter.floor === 1"
          class="inline"
          data-ng-class="[filter.key, {'disabled': filter.disabled}]"
          data-key="filter.key"
          data-dataset="filter.dataset"
          data-multi="filter.multi"
          data-toggle-format="filter.toggleFormat"
          data-disabled="filter.disabled"
          data-filter-values="filterValues">
        </custom-select>
        <br class="clear-both" />
      </div>
      <div class="head__right-section inline">
        <div class="head__title">
          <dot-graph-title
            data-filters="filters"
            data-filter-values="filterValues">
          </dot-graph-title>
        </div>
      </div>
      <br class="clear-both" />
    </div>
  </div>
  <div class="content">
    <div class="content__bar-chart-container inline">
      <bar-chart
        data-data="data"
        data-filter-values="filterValues"
        data-quantity-checkbox="quantityCheckbox"
        data-bar-chart="barChart"
        data-dot-chart="dotChart">
      </bar-chart>
    </div>
    <div class="content__dot-chart-container inline">
      <dot-chart
        data-data="data"
        data-filter-values="filterValues"
        data-bar-chart="barChart"
        data-dot-chart="dotChart">
      </dot-chart>
    </div>
    <div class="content__info-block-container inline">
      <info-block
        data-data="data"
        data-filters="filters"
        data-filter-values="filterValues"
        data-bar-chart="barChart"
        data-dot-chart="dotChart">
      </info-block>
    </div>
    <br class="clear-both" />
    <quantity-checkbox data-quantity-checkbox="quantityCheckbox"></quantity-checkbox>
  </div>
</div>
