<div
  class="custom-select"
  data-ng-class="[key, {'disabled': disabled}]"
  data-ng-style="{'visibility': isSelectPrepared ? 'visible' : 'hidden'}">
  <div
    class="custom-select__toggle"
    data-ng-class="{'activated': isListShown}"
    data-ng-click="toggleList()">{{toggleFormat()}}</div>
  <div
    class="custom-select__dropdown"
    data-ng-style="{'visibility': isListShown ? 'visible' : 'hidden'}">
    <div
      class="item"
      data-ng-repeat="item in dataset track by $index"
      data-ng-class="{'selected': isItemSelected(item)}"
      data-ng-click="selectItem(item)">{{item.title}}</div>
  </div>
</div>
