<div class="info-block">
  <div
    class="info-block__legend"
    data-ng-if="areSubstancesShown()">
    <div
      data-ng-repeat="substance in getSubstances() track by $index"
      class="item"
      data-ng-style="getSubstanceStyle(substance)"
      data-ng-click="selectSubstance(substance)">{{substance}}</div>
  </div>
  <div
    class="info-block__card"
    data-ng-if="false">
    <div class="title"></div>
    <div class="info">
      <div class="text-block"></div>
      <div class="caption">Resistance</div>
      <div class="column left"></div>
      <div class="column right"></div>
      <br class="clear-both" />
    </div>
  </div>
  <div
    class="info-block__card"
    data-ng-if="false">
    <div class="title"></div>
    <div class="info">
      <div class="text-block"></div>
      <div class="caption">Sequencing</div>
      <div class="text-block"></div>
      <div class="caption">Taxons</div>
      <table class="simple-table"></table>
    </div>
  </div>
</div>
