<div class="info-block">
  <div
    class="info-block__legend"
    data-ng-if="areSubstancesShown()">
    <div
      class="item"
      data-ng-repeat="substance in getSubstances() track by $index"
      data-ng-style="getSubstanceStyle(substance)"
      data-ng-click="selectSubstance(substance)">{{substance}}</div>
  </div>
  <div
    class="info-block__card"
    data-ng-if="!areSubstancesShown()">
    <div class="title">{{getSubstanceInfo()['category_name']}}</div>
    <div class="info">
      <div class="text-block">{{getSubstanceInfo()['category_description']}}</div>
      <div class="caption">Resistance</div>
      <div
        class="row"
        data-ng-repeat="rows in genesData">
        <div class="column left">
          <div class="column-item">{{rows[0]['gene_name']}}</div>
        </div>
        <div class="column right">
          <div class="column-item">{{rows[1]['gene_name']}}</div>
        </div>
        <br class="clear-both" />
      </div>
    </div>
  </div>
  <div
    class="info-block__card"
    data-ng-if="false">
    <div class="title"></div>
    <div class="info">
      <div class="text-block"></div>
      <div class="caption">Sequencing</div>
      <div class="text-block"></div>
      <div class="caption">Taxons</div>
      <table class="simple-table"></table>
    </div>
  </div>
</div>
