@import '../variables';

$graph-width: 500px;
$graph-height: 465px;

.head__third-floor {
  width: calc($graph-width * 2);
  margin-top: 30px;
  padding-left: $common-padding;
  box-sizing: border-box;
}

.head__third-floor .title {
  margin: 2px 10px 0 0;
  font-family: $helvetica-neue-bold;
  font-size: $xl-font-size;
}

.head__third-floor .custom-select {
  margin: 5px 10px 0 0;
}

.head__second-floor {
  width: calc($graph-width * 2);
  padding-left: $common-padding;
  box-sizing: border-box;
}

.head__second-floor .title {
  margin: 7px 10px 0 0;
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
}

.head__second-floor .custom-select {
  margin: 5px 10px 0 0;
}

.head__second-floor .filters-reset {
  margin: 7px 0 0 10px;
}

.head__first-floor {
  width: calc($graph-width * 2);
  margin-top: 20px;
}

.head__first-floor .left-section {
  width: $graph-width;
  padding-left: $common-padding;
  box-sizing: border-box;
}

.head__first-floor .right-section {
  width: $graph-width;
  padding-left: 50px;
  box-sizing: border-box;
}

.head__first-floor .title {
  margin-top: 2px;
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
}

.head__first-floor .custom-select {
  margin-left: 5px;
}

.content {
  margin-top: 20px;
}

.content__bar-chart {
  width: $graph-width;
  height: $graph-height;
}

.content__dot-chart {
  width: $graph-width;
  height: $graph-height;
}

.content .quantity-checkbox {
  margin-top: 20px;
  padding-left: $common-padding;
}

.datalab-footer {
  margin: 30px 0 0 $common-padding;
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
}

.datalab-footer__dl-caption {
  font-family: $garamond-original-italic;
  font-size: $dl-font-size;
}

.datalab-footer .additional-info {
  margin: 5px 0 20px 0;
}
