@import '../variables';

.head__third-floor {
  width: 100%;
  margin-top: 30px;
  padding-left: $common-padding;
  box-sizing: border-box;
}

.head__third-floor .title {
  font-family: $helvetica-neue-bold;
  font-size: $xl-font-size;
}

.head__third-floor .custom-select {
  margin: 3px 0 0 10px;
}

.head__third-floor .filters-reset {
  margin: 3px 0 0 200px;
}

.head__second-floor {
  width: 100%;
  margin-top: 5px;
  padding-left: $common-padding;
  box-sizing: border-box;
}

.head__second-floor .title {
  margin-top: 2px;
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
}

.head__second-floor .custom-select {
  margin-left: 10px;
}

.head__second-floor .more-filters {
  margin-left: 10px;
}

.head__first-floor {
  width: 100%;
  margin-top: 20px;
}

.head__first-floor .left-section {
  width: 500px;
  padding-left: $common-padding;
  box-sizing: border-box;
}

.head__first-floor .right-section {
  width: 500px;
  padding-left: 50px;
  box-sizing: border-box;
}

.head__first-floor .title {
  margin: 2px 0 0 0;
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
}

.head__first-floor .custom-select {
  margin-left: 5px;
}

.content {
  margin-top: 20px;
}

.content__bar-chart {
  width: 500px;
  height: 465px;
}

.content__dot-chart {
  width: 500px;
  height: 465px;
}

.content .quantity-checkbox {
  margin-top: 20px;
  padding-left: $common-padding;
}
