@import '../variables';

.head {
  margin: 20px 0 20px 20px;
}

.head__second-floor .head__title {
  font-family: $helvetica-neue-bold;
  font-size: $xl-font-size;
}

.head__first-floor {
  margin-top: 5px;
}

.head__first-floor .head__title {
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
}
