@import 'variables';

.datalab-footer {
  display: block;
  position: fixed;
  left: 30px;
  bottom: 20px;
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
}

.datalab-footer__dl-caption {
  font-family: $garamond-original-italic;
  font-size: $dl-font-size;
}
