@import 'variables';

.datalab-footer {
  margin: 30px 0 0 30px;
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
}

.datalab-footer__dl-caption {
  font-family: $garamond-original-italic;
  font-size: $dl-font-size;
}
