@font-face {
	font-family: 'OriginalGaramondBTWebItalic';
	src: url('../fonts/Original Garamond Italic/ORG46__W.eot');
	src: url('../fonts/Original Garamond Italic/ORG46__W.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Original Garamond Italic/ORG46__W.woff') format('woff'),
	     url('../fonts/Original Garamond Italic/ORG46__W.ttf') format('truetype'),
	     url('../fonts/Original Garamond Italic/ORG46__W.svg#OriginalGaramondBTWeb-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
