.loading-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
}

.loading-cover__dl-symbol {
  position: absolute;
  width: 57px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes first-rect-keyframes {
  0% {transform: translateX(0px);}
  100% {transform: translateX(1100px);}
}

@keyframes second-rect-keyframes {
  0% {transform: translateX(-1099px);}
  100% {transform: translateX(1px);}
}

.loading-cover__first-rect {
  animation: first-rect-keyframes 5s linear infinite;
}

.loading-cover__second-rect {
  animation: second-rect-keyframes 5s linear infinite;
}
