.ngsb-wrap .ngsb-container {
  transition: none;
}

.ngsb-wrap .ngsb-scrollbar .ngsb-track {
  background: #fff;
  box-shadow: none;
}

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
  transition: none;
  background-color: #e5e5e5;
}

.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb {
  background-color: #e5e5e5;
}
