$helvetica-neue-bold: 'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-neue-regular: 'HelveticaNeueRegular', 'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$xl-font-size: 18px;
$m-font-size: 14px;
$s-font-size: 12px;
$xs-font-size: 10px;
