@import '../variables';

.bar-chart {
  font-family: $helvetica-neue-regular;
}

.bar-chart__tooltip {
  position: absolute;
  padding: 3px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 1px;
  text-align: left;
  font-size: $s-font-size;
}

.bar-chart__tooltip .substance::first-letter {
  text-transform: uppercase;
}

.bar-chart__tooltip .abundance {
  margin-top: -4px;
}

.bar-chart__tooltip .abundance sup {
  font-size: $xs-font-size;
}

.bar-chart__svg {
  display: block;
}

.y-axis {
  pointer-events: none;
}

.y-axis path {
  display: none;
}

.y-axis line {
  stroke: rgba(0, 0, 0, .15);
  stroke-width: 1;
}

.y-axis text {
  font-size: $xs-font-size;
}

.y-axis tspan {
  font-size: $xxs-font-size;
}

.bar {
  cursor: pointer;
}

.cohort-caption {
  font-size: $s-font-size;
  text-anchor: start;
  dominant-baseline: hanging;
}

.quantity-caption {
  font-size: $s-font-size;
  text-anchor: start;
  dominant-baseline: hanging;
  fill: #a5a5a5;
}
