@import '../variables';

.bar-chart__tooltip {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, .7);
  text-align: left;
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
}

.bar-chart__svg {
  display: block;
}

.y-axis path {
  display: none;
}

.y-axis line {
  stroke: #ccc;
  stroke-width: 1;
}

.y-axis text {
  font-family: $helvetica-neue-regular;
  font-size: $xs-font-size;
}

.y-axis tspan {
  font-family: $helvetica-neue-regular;
  font-size: $xxs-font-size;
}

.cohort-caption {
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
  text-anchor: start;
  dominant-baseline: hanging;
}

.quantity-caption {
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
  text-anchor: start;
  dominant-baseline: hanging;
  fill: #a5a5a5;
}
