@import '../variables';

$background-color: #e5e5e5;
$hover-color: #d3d3d3;

.custom-select {
  position: relative;
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
  color: #333;
  cursor: pointer;
  user-select: none;
}

.custom-select.disabled {
  opacity: .5;
  cursor: default;
}

.custom-select__toggle {
  padding: 2px 19px 2px 5px;
  background-color: $background-color;
  border-radius: 4px 4px 4px 4px;
  box-sizing: border-box;
}

.custom-select__toggle.activated {
  border-radius: 4px 4px 0 0;
}

.custom-select__toggle::after {
  position: absolute;
  top: 8px;
  right: 5px;
  border-top: 4px solid #333;
  border-right: 3px solid transparent;
  border-bottom: none;
  border-left: 3px solid transparent;
  content: '';
}

.custom-select__toggle.activated::after {
  top: 8px;
  right: 5px;
  border-top: none;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #333;
  border-left: 3px solid transparent;
}

.custom-select__dropdown {
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 0 0 4px 4px;
  background-color: $background-color;
  list-style: none;
  z-index: 99;
}

.custom-select__dropdown li:last-child .item {
  border-radius: 0 0 4px 4px;
}

.custom-select__dropdown .item {
  position: relative;
  line-height: 22px;
  padding: 2px 19px 2px 5px;
  white-space: nowrap;
}

.custom-select__dropdown .item:hover {
  background-color: $hover-color;
}

.custom-select__dropdown .item.selected::after {
  position: absolute;
  width: 9px;
  height: 10px;
  top: 8px;
  right: 5px;
  content: '';
  background: transparent url('../img/accessories/check.png') no-repeat left top;
  background-size: 9px 10px;
}
