@import '../variables';

.dot-chart {
  font-family: $helvetica-neue-regular;
}

.dot-chart__tooltip {
  position: absolute;
  display: none;
  padding: 3px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 1px;
  text-align: left;
  font-size: $s-font-size;
}

.dot-chart__svg {
  display: block;
}
