@import '../variables';

.dot-chart {
  font-family: $helvetica-neue-regular;
}

.dot-chart__tooltip {
  position: absolute;
  display: none;
  padding: 0 3px 3px 3px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 1px;
  text-align: left;
  font-size: $s-font-size;
  z-index: 1;
}

.dot-chart__tooltip sup {
  font-size: $xs-font-size;
}

.dot-chart__svg {
  display: block;
}

.dot-chart__svg .y-axis {
  pointer-events: none;
}

.dot-chart__svg .y-axis path {
  display: none;
}

.dot-chart__svg .y-axis line {
  stroke: rgba(0, 0, 0, .15);
  stroke-width: .3;
}

.dot-chart__svg .y-axis text {
  font-size: $xs-font-size;
}

.dot-chart__svg .y-axis tspan {
  font-size: $xxs-font-size;
}

.dot-chart__svg .sample {
  cursor: pointer;
}

.dot-chart__svg .median {
  pointer-events: none;
}

.dot-chart__svg .cohort-caption {
  font-size: $s-font-size;
  text-anchor: start;
  dominant-baseline: hanging;
}

.dot-chart__svg .quantity-caption {
  font-size: $s-font-size;
  text-anchor: start;
  dominant-baseline: hanging;
  fill: #a5a5a5;
}
