@import '../variables';

$info-block-width: 250px;

.info-block__legend {
  position: absolute;
  top: 158px;
  width: $info-block-width;
  height: 480px;
  overflow: auto;
}

.info-block__legend .item {
  width: 100%;
  padding: 0 16px 0 10px;
  box-sizing: border-box;
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-block__legend .item::first-letter {
  text-transform: uppercase;
}

.info-block__legend .item:not(:first-child) {
  margin-top: 8px;
}

.info-block__card {
  position: absolute;
  top: 88px;
  width: $info-block-width;
  height: 548px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.info-block__card .title {
  height: 39px;
  padding: 10px;
  box-sizing: border-box;
  font-family: $helvetica-neue-bold;
  font-size: $l-font-size;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-block__card .title::first-letter {
  text-transform: uppercase;
}

.info-block__card .info {
  height: 507px;
  overflow: auto;
}

.info-block__card .text-block {
  padding: 0 16px 10px 10px;
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
  line-height: 20px;
}

.info-block__card .caption {
  padding: 0 16px 3px 10px;
  font-family: $helvetica-neue-bold;
  font-size: $m-font-size;
}

.info-block__card .column {
  float: left;
  width: 50%;
}

.info-block__card .column-item {
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-block__card .column.left .column-item {
  padding: 0 5px 0 10px;
}

.info-block__card .column.right .column-item {
  padding: 0 16px 0 5px;
}

.info-block__card .simple-table {
  width: 100%;
  padding: 0 16px 0 10px;
  font-family: $helvetica-neue-regular;
  font-size: $m-font-size;
  line-height: 20px;
  border-spacing: 0;
}

.info-block__card .simple-table td {
  padding: 0;
  text-align: left;
  vertical-align: top;
}

.info-block__card .simple-table td:first-child {
  width: 80%;
}

.info-block__card .simple-table td:last-child {
  width: 20%;
}

.info-block__legend::-webkit-scrollbar, .info-block__card .info::-webkit-scrollbar {
  width: 10px;
}

.info-block__legend::-webkit-scrollbar-track, .info-block__card .info::-webkit-scrollbar-track {
  background-color: #fff;
}

.info-block__legend::-webkit-scrollbar-thumb, .info-block__card .info::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
