@import '../variables';

.info-block__substances {
  margin-top: 20px;
}

.info-block__substance {
  font-family: $helvetica-neue-regular;
  font-size: $s-font-size;
  user-select: none;
  cursor: pointer;
}

.info-block__substance::first-letter {
  text-transform: uppercase;
}

.info-block__substance:not(:first-child) {
  margin-top: 8px;
}
