.more-filters__plus-button {
  height: 20px;
  padding: 0 5px 0 5px;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1;
  background-color: #e5e5e5;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}

.more-filters.disabled .more-filters__plus-button {
  opacity: .5;
  cursor: default;
}
